@import '../variables/colors.css';
@import '../variables/font-family.css';

body {
  background-color: var(--primary-color);
  margin: 0;
  font-family: var(--font-family);
  color: var(--black-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--font-second);
}

.about2 {
  color: green;
}
